#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# FLRifts configuration
########################################
#
#    FLRifts.Enable
#        Description: Enable the repeating Forgotten Land Rift event.
#        Default:     0 - Disabled
#                     1 - Enabled
#

FLRifts.Enable = 0


########################################
# FLRifts element eligibility
########################################
#
#    FLRifts.Element.<element>
#        Description: Whether this element may be chosen when a new Rift opens.
#                     A random eligible element is picked each time. If none are
#                     enabled the event falls back to Shadow.
#        Default:     1 - Eligible
#                     0 - Excluded
#

FLRifts.Element.Shadow = 1
FLRifts.Element.Fire   = 1
FLRifts.Element.Air    = 1
FLRifts.Element.Water  = 1


########################################
# FLRifts NPC configuration
########################################
#
#	FLRifts.<npctype> = entry
#
#	Trash slots 1-4 map to the archetypes: 1 = Melee Bruiser, 2 = Caster,
#	3 = Disruptor, 4 = Support. bossN entries are picked at random per event.
#

FLRifts.shadow1 = 80027
FLRifts.shadow2 = 80028
FLRifts.shadow3 = 80029
FLRifts.shadow4 = 80035
FLRifts.shadowboss1 = 80036
FLRifts.shadowboss2 = 80037

FLRifts.fire1 = 80039
FLRifts.fire2 = 80041
FLRifts.fire3 = 80047
FLRifts.fire4 = 80050
FLRifts.fireboss1 = 80040
FLRifts.fireboss2 = 80042

FLRifts.air1 = 80031
FLRifts.air2 = 80032
FLRifts.air3 = 80033
FLRifts.air4 = 80030
FLRifts.airboss1 = 80034
FLRifts.airboss2 = 80038

FLRifts.water1 = 80043
FLRifts.water2 = 80044
FLRifts.water3 = 80045
FLRifts.water4 = 80046
FLRifts.waterboss1 = 80048
FLRifts.waterboss2 = 80049
